{{define "about"}}
{{template "header" .}}
  <div>
    <h1>About</h1>
    <img src="/static/image/logo.jpg" alt="BioCoderAI" class="col-lg-2 col-md-3 col-sm-4"/>
    <p>This is a simple web application that demonstrates how to use the Go programming language and the Beego web framework to build a web application.</p>
  </div>
{{template "footer"}}
{{end}}